.cross {
  display: flex;
  background-color: white;
  margin-bottom: 8px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 18px;
  width: 100%;
}
.accord {
  // width: 100%;
  background-color: #f8f9fa;
  padding: 40px;
  margin-left: 39%;
  margin-bottom: 100px;
}

.accord p {
  background-color: white;
  font-size: 18px;
  font-weight: 400;
  color: #3C3C43D9;
  padding: 18px 18px;
  margin-bottom: 8px;

}
.rotate{
    transform: rotate(45deg);
}

.accordion{
  // background-image: url("/Cloud-in-sky-vector-PNG-ezgif.com-video-to-gif-converter.gif");
}

@media screen and (max-width: 600px) {
  .accord {
    // width: 94%;
    background-color: #f8f9fa;
    padding: 10px;
    margin-left: 0% !important;
    margin-bottom: 0px;
    margin-top: 15%;
    padding-bottom: 15%;
  
    h3{
      font-size: 20px;
    }
    .cross{
      align-items: start;
      gap: 5px;
      width: auto;
    }
  }
  .accord>div{
    z-index: 9;
    position: relative;
  }
  .cloud{
    width: 100% !important;
    top: -110px !important;
  }
  .moving_car{
    position: absolute !important;
    bottom: -229px !important;
    z-index: 0 !important;
    width: 100% !important;
  }
}
@media only screen and (max-width:425px){
  .accord{
    h3{
      font-size: 16px;
    }
    p{
      font-size: 16px;
    }
  }
}