.card_container {
  display: flex;
  border-radius: 10px;
}
.outerbox{
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.maincardbox {
  max-width: 595px;
  padding: 30px;
}
.cardimage {
  align-items: center;
  display: flex;
  border: 1px solid black;
  width: 100px;
  height: 62px;
  border-radius: 12px;
  margin-left: 15px;
  gap: 10px;
  justify-content: center;
}
.carddd {
  display: flex;
  gap: 40px;
  justify-content: start;
}

.editcard {
  display: flex;
  margin-top: 35px;
  padding-bottom: 5px;
  justify-content: space-between;
  align-items: baseline;
}
.cardnumberr {
  margin-bottom: 30px;
  h3 {
    font-weight: 600;
    font-size: 22px;
  }
  p {
    font-size: 16px;
    color: #939292;
    font-weight: 400;
  }
}
.edit {
  display: flex;
  align-items: center;

  span {
    color: #0399f5;
    font-weight: 600;
    font-size: 15px;
  }
}

.carddetails {
  display: flex;
  gap: 10px;
  input {
    width: 50px;
    font-size: 15px;
    border: transparent;
    text-align: center;
    outline: 0;
    background-color: #f8f9fd;
  }
  span {
    font-weight: 700;
  }
}
.cardnumber {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fd;
  border: 1px solid #6d5d5d;
  padding: 15px;
  border-radius: 5px;
}

.cvv {
  display: flex;
  align-items: center;
  margin-top: 35px;
  justify-content: space-between;
  h3 {
    font-weight: 600;
    font-size: 22px;
  }
  p {
    font-size: 16px;
    color: #939292;
    font-weight: 400;
  }
}

.Number {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fd;
  border: 1px solid #6d5d5d;
  padding: 15px;
  border-radius: 5px;
  input {
    width: 121px;
    border: transparent;
    background-color: #f8f9fd;
    text-align: center;
    outline: 0;
    font-size: 15px;
  }
}

.ExpiryDate {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.Expiry {
  display: flex;
  align-items: center;
  gap: 3px;
  input [tabIndex="2"]{
    background-color: #FF990033 !important;
  }
  input {
    width: 50px;
    display: flex;
    background-color: #f8f9fd;
    border: 1px solid #6d5d5d;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    outline: 0;
  }
  span {
    font-size: 20px;
  }
}

.date {
  h3 {
    font-weight: 600;
    font-size: 22px;
  }
  p {
    font-size: 16px;
    color: #939292;
    font-weight: 400;
  }
}

.paynow {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
  background-color: #ff9900;
  color: #f8f9fd;
  border: transparent;
  border-radius: 5px;
  padding: 15px;
}
.paynoww {
  display: flex;
  justify-content: center;
}