.register {
  margin-top: 10px;
  width: 655px;
  min-height: 512px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(23, 26, 31, 0.11);

  h2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.name {
  display: flex;
  width: 100%;
}

.inputone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.half_width { width: 100%; }
.register h2 {
  text-align: center;
  font-size: 36px;
  color: #171a1f;
  font-weight: 700;
}

.form {
  width: fit-content;
  margin: auto;
  gap: 20px;
  display: grid;
  color: #444343;
  max-width: 575px;

  input {
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 12px 40px 12px 5px;
    border-color: #D0D0D0;
    
  }
}

.check {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  gap: 6px;  
  accent-color: #f55c14;
  padding-bottom: 10px;
  padding-top: 10px;

}
.check p {
  font-size: 16px;
  font-weight: 500;
}
.check p span {
  color: #ff9900;
}

.continuebutton {
  
  padding: 0;
  border-radius: 8px;
  background-color: #ff9900;
  color: #ffffff;
  border: transparent;
  margin: 20px auto 50px auto;
  width: 215px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 16px;
}
.privacyPopup {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  
















  .popupChild {
    width: 80vw;
    height: 85vh;
    overflow: auto;
    scrollbar-width: thin;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    .closeIcon {
      position: absolute;
      top: 20px;
      right: 20px;
      width: fit-content;
      border-radius: 50%;
      border: 1px solid #000;
      width: 25px;
      height: 25px;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      span {
        margin-top: -3px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .register {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
  .continuebutton {
    margin-top: 20px;
  }
  .name {
    flex-direction: row;
    gap: 15px;
    padding-top: 35px;
  }
  .form {
    gap: 15px;
    padding: 0 20px;

    input {
      width: calc(100% - 24px);
    }
  }
  .half_width {
    width: calc(100% - 24px) !important;
  }
  .name {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 375px) {
  .register {
    padding-top: 40px;
    h2 {
      font-size: 28px;
    }
  }
  .name {
    padding-top: 25px;
  }
}
