// .animation_container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   animation-delay: 0s;
//   font-size: 70px;
// }
// .bg_image {
//   position: absolute;
//   z-index: -10;
//   right: -200px;
// }
// .animated_text {
//   font-size: 54px;
//   font-weight: bold;
//   position: absolute;
//   opacity: 0;
//   transform: translateY(-500%);
//   animation: slideAnimation 5s ease-in-out forwards;
//   text-align: center;
//   display: flex;
//   align-items: center;
//     animation-iteration-count: infinite;
//     animation-direction: normal;
//     animation-fill-mode: both;
// }

// .animated_text1 {
//     font-size: 54px;
//     font-weight: bold;
//     position: absolute;
//     opacity: 0;
//     transform: translateY(-500%);
//     animation: slideAnimation1 5s ease-in-out forwards;
//     text-align: center;
//     display: flex;
//     align-items: center;
//       animation-iteration-count: infinite;
//       animation-direction: normal;
//       animation-fill-mode: both;
//   }

// @keyframes slideAnimation {
//     0% {
//       opacity: 0;
//       transform: translateY(0%);
//     }
//     // 50% {
//     //   opacity: 1;
//     //   transform: translateY(0);
//     // }
//     100% {
//       opacity: 1;
//       transform: translateY(100%);
//     }
//   }
//   @keyframes slideAnimation1 {
//     0% {
//       opacity: 0;
//       transform: translateY(-100%);
//     }
//     50% {
//       opacity: 1;
//       transform: translateY(0);
//     }
//     100% {
//       opacity: 0;
//       transform: translateY(100%);
//     }
//   }
// .image {
//     position: absolute;
//     z-index: 0;
//     right: 40px;
//     top: 70px;
//     width: 240px;
//     height: 152px;
//     object-fit: contain;
//     background: #fff;
//     padding: 0px 0px 50px 0px;
//     border-radius: 30px;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//   }
// .main_heading span{
//  font-size: 85px;
//  font-weight: 700;
//  color: #1E8E3E;
// }
// .main_heading{
//     font-size: 85px;
//     font-weight: 700;
// }
// .main_heading_two span{
//     font-size: 85px;
//     font-weight: 700;
//     color: #C5221F;
// }
//     .animation_container.main_heading {
//     color: #1e8e3e;
//     }
//     .animated_text .main_heading{
//     animation-delay: 0s;
//     font-size: 70px;
//     }
//     .animated_text .main_heading_two{
//     animation-delay: 5s;
//     font-size: 70px;
//     }

.textone span {
  font-size: 85px;
  font-weight: 700;
  color: #1e8e3e;
}
.textone p {
  font-size: 85px;
  font-weight: 700;
}

.slideboxone {
  display: flex;
  justify-content: center;
  gap: 45px;
  // margin-top: 100px;
  text-align: center;
}
.image {
  position: relative;
}
.anima{
  text-align: center;
  height: 350px;
  overflow: hidden;
  display: grid;
  align-items: center;
}
.anima .slideboxone{
  animation: animate 10s reverse infinite;
  // margin-top: 5px;
  height: 250px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
margin-bottom: 150px;
opacity: 0.2;
transition: 2000ms;


}
@keyframes animate{
  0%{
    transform: translateY(0px);
    opacity: 1;
    transition: 2000ms;
  }
  20%{
    transform: translateY(-500px);
     opacity: 1;
    transition: 2000ms;
  }
  40%{
    transform: translateY(-1000px);
     opacity: 1;
    transition: 2000ms;
  }
  60%{
    transform: translateY(-1500px);
     opacity: 1;
    transition: 2000ms;
  }
  80%{
    transform: translateY(-2000px) ;
     opacity: 1;
    transition: 2000ms;
  }
  100%{
    transform: translateY(-2500px) ;
     opacity: 1;
    transition: 2000ms;

  }
}
.onee {
  position: absolute;
  top: 64px;
  right: 35px;
  z-index: 1;
}
.twoo{
    position: relative;
    left: -35px;
    top: -19px;
}

.texttwo span{
    font-size: 85px;
    font-weight: 700;
    color:#C5221F;
  }
.texttwo p{
    font-size: 85px;
    font-weight: 700;
}
.textthree span{
    font-size: 85px;
    font-weight: 700;
    color:#2D659B;
}

.textthree p{
    font-size: 85px;
    font-weight: 700;}